/* Séparateur avec un texte centré */
.hr {
    display: flex;
    align-items: center;
    margin: 1em 0;
}
.hr::before, .hr::after {
    content: '';
    flex: 1;
    margin: 0 .25em;
    border-bottom: 1px solid rgba(0,0,0,.125);
}